body {
    color: azure;
    background-color: beige;
    border: 10px;
    border-color: black;
    border-style: solid;
    font-family:'Times New Roman', Times, serif;
    padding: 40px;
    margin: 10px;
    text-align: center;
    width: 350px;
    height: 350px;
}

img {
    width: 120px;
    border-radius: 70px;
    border-style: double;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}